<!DOCTYPE html>
<html lang="en">
<style>

.line {
  fill: none;
  stroke: #ADD8E6;
  stroke-width: 2px;
}

#Header {
  width: 100%;
  padding: 1px;
  text-align: center;
  font-family: Helvetica;
  background-color: #808080;
  color: #FFFAF0;
  border-radius: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.title{
    background-color: #B22222;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px;
    width: 83.35%;
    text-decoration: none;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #FF6347;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.bar{
  fill:#87CEEB;
  margin-right: 2px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 30px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#slider_div {
  width: 100%;
  padding: 2px;
  text-align: center;
  margin-top: 2px;
  display: none;
}

#slider {
  width: 100%
}

.dot {
    stroke: #000;
}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis_scatter_matrix,
.frame {
  shape-rendering: crispEdges;
}

.axis_scatter_matrix line {
  stroke: #ddd;
}

.axis_scatter_matrix path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

</style>
<head>
    <title>MiniProject 2</title>
</head>
<body>
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Task 1</a>
            <div class="dropdown-content">
                <a href="#" onclick="create_elbow('elbow-k-means')">K-Means Elbow</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Task 2</a>
            <div class="dropdown-content">
                <a href="#" onclick="create_scree_plot('screeplot_full_data', 'Screeplot for PCA on Complete Dataset')">PCA for Complete Dataset</a>
                <a href="#" onclick="create_scree_plot('screeplot_random_sample_data', 'Screeplot for PCA on Randomly Sampled Dataset')">PCA for Random Sample Dataset</a>
                <a href="#" onclick="create_scree_plot('screeplot_stratified_sample_data', 'Screeplot for PCA on Random Stratified Dataset')">PCA for Random Stratified Dataset</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Task 3</a>
            <div class="dropdown-content">
                <a href="#" onclick="generate_2d_scatterplot('scatter_plot_full_data_pc_values', '2-D Scatter Plot of PCA Vector on Complete Dataset')">PCA 2-D Scatterplot Full Data</a>
                <a href="#" onclick="generate_2d_scatterplot('scatter_plot_random_sampled_data_pc_values', '2-D Scatter Plot of PCA Vector on Screeplot on Randomly Sampled Dataset')">PCA 2-D Scatterplot Random Data</a>
                <a href="#" onclick="generate_2d_scatterplot('scatter_plot_stratified_sampled_data_pc_values', '2-D Scatter Plot of PCA Vector on Random Stratified Dataset')">PCA 2-D Scatterplot Random Stratified Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_euclidean_full_data', '2-D Scatter Plot for MDS (Euclidean Distance) on Complete Dataset')">MDS Euclidean Full Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_euclidean_random_data', '2-D Scatter Plot for MDS (Euclidean Distance) on Screeplot on Randomly Sampled Dataset')">MDS Euclidean Random Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_euclidean_stratified_data', '2-D Scatter Plot for MDS (Euclidean Distance) on Random Stratified Dataset')">MDS Euclidean Stratified Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_correlation_full_data', '2-D Scatter Plot for MDS (Correlation) on Complete Dataset')">MDS Correlation Full Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_correlation_random_data', '2-D Scatter Plot for MDS (Correlation) on Screeplot on Randomly Sampled Dataset')">MDS Correlation Random Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_correlation_stratified_data', '2-D Scatter Plot for MDS (Correlation) on Random Stratified Dataset')">MDS Correlation Stratified Data</a>
                <a href="#" onclick="generate_scatter_matrix('scatter_matrix_full_data', 'Scatterplot Matrix Full Data')">Scatter Matrix Full Data</a>
                <a href="#" onclick="generate_scatter_matrix('scatter_matrix_random_sampled_data', 'Scatterplot Matrix Random Data')">Scatter Matrix Random Sample Data</a>
                <a href="#" onclick="generate_scatter_matrix('scatter_matrix_stratified_sampled_data', 'Scatterplot Matrix Random Stratified Data')">Scatter Matrix Stratified Sample Data</a>
            </div>
        </li>
        <li class="title">
            <div class = "title">
            CSE 564: VISUALISATION AND VISUAL ANALYTICS: MINI-PROJECT 2
            </div>
        </li>
    </ul>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

//Declaring legend color and value for elbow point graph
var elbow_colors = ['#FFD700'];
var elbow_legend_val = ['Elbow Point'];

//Declaring Tooltip
var tooltip = d3.select("body").append("div").attr("class", "toolTip");

//Declaring values for legend showing ranking of universities
var ranks = ['0 to 100', '100 to 200', '200 to 300', '> 300'];

//Declaring legend value for PCA screeplots
var dimensionality = ['Intrinsic Dimensionality'];

var colors_screeplot = ['#FFD700'];

//Function to pick color for elbow curve
function elbow_colorpicker(v) {
    if (v === 4) {
        return "#FFD700";
    }
    else {
        return "white";
    }
}

//Function to pick color on mouseover
function colorPicker_mouseover(v) {
    if (v === "True") {
        return "#DAA520";
    }
    else {
        return "#808080";
    }
}

//Function to pick color for dots
function colorPicker_dot(v) {
    if (v === "True") {
        return "#FFD700";
    }
    else {
        return "#D3D3D3";
    }
}

//Function to pick color on bar
function colorPicker_bar(v) {
    if (v === "True") {
        return "#FFD700";
    }
    else {
        return "#D3D3D3";
    }
}

//Function to create kmeans elbow
function create_elbow(path)
{
    //read data from path in backend and store in variable data
    $.post(path, {'data': 'received'}, function (data_infunc) {
        data = JSON.parse(data_infunc.chart_data);
        console.log(data);

        //removing existing svg
        d3.select("svg").remove();

        //declaring margins
        var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1400 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

        //declaring x and y axis
        var x = d3.scaleLinear()
            .range([0, width]);
        var y = d3.scaleLinear()
            .range([height, 0]);

        //declaring svg and setting parameters
        var svg = d3.select("body")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        //appending values to the line
        var valueline = d3.line()
            .x(function(d) { return x(d.K); })
            .y(function(d) { return y(d.Value); });

        data.forEach(function (d) {
            d.K = +d.K
            d.Value = +d.Value;
        });

        //declaring x axis domain
        x.domain([0,d3.max(data, function (d) {
            return d.K;
        })]);

        //declaring y axis domain
        y.domain([0, d3.max(data, function (d) {
            return d.Value;
        })]);

        //appending the line to svg
        svg.append("path")
            .data([data])
            .attr("class", "line")
            .attr("d", valueline);

        //appending the dots to svg to mark points on line
        svg.selectAll(".dot")
            .data(data)
            .enter().append("circle")
            .attr("class", "dot")
            .attr("cx", function(d) { return x(d.K) })
            .attr("cy", function(d) { return y(d.Value) })
            .attr("r", 5)
            .style("fill", function(d) {return elbow_colorpicker(d.K);})
                
                //adding mouseover functions
                .on("mouseover", function(d, i) {
                tooltip
                    .style("left", d3.event.pageX - 50 + "px")
                    .style("top", d3.event.pageY - 70 + "px")
                    .style("display", "inline-block")
                    .html("K: " + d.K + "<br>" + "Value: " + d.Value.toFixed(2));
                d3.select(this)
                    .attr("r", 10) ; })
                
                //adding mouseout functions
                .on("mouseout", function() {
                    tooltip
                        .style("display", "none");
                    d3.select(this)
                        .attr("r", 5); });
        
        //adding x-axis to graph
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        //adding x-axis to text
        svg.append("text")
            .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top) + ")")
                .style("text-anchor", "middle")
                .style("font-size", "15px")
            .text("K Value");

        //adding y-axis to graph
        svg.append("g")
            .call(d3.axisLeft(y));

        //adding y-axis text
        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left+50)
            .attr("x",0 - (height / 2))
            .attr("dy", "1em")
                .style("text-anchor", "middle")
                .style("font-size", "15px")
            .text("Sum of Squared Errors");
        
        //adding graph label
        svg.append("text")
            .attr("x", (width / 2))             
            .attr("y", 0 - (margin.top / 2))
            .attr("text-anchor", "middle")  
                .style("font-size", "25px") 
                .style("text-decoration", "underline")  
            .text("K-Means Elbow Curve");
        
        //adding legend
        var legend = svg.selectAll(".legend")
            .data(elbow_colors)
            .enter()
            .append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
            .data(elbow_colors)
            .attr("x", width - 18)
            .attr("y", 9)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", function(d) { return d; });

        legend.append("text")
            .data(elbow_legend_val)
            .attr("x", width - 24)
            .attr("y", 18)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d; });
    });
}

function create_scree_plot(path, heading)
{
    $.post(path, {'data': 'received'}, function (data_infunc) {
        data = JSON.parse(data_infunc.chart_data);
        console.log(data);
        d3.select("svg").remove();

        var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1400 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

        var x = d3.scaleBand()
            .range([0, width]);
        var y = d3.scaleLinear()
            .range([height, 0]);

        var svg = d3.select("body")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        var valueline = d3.line()
            .x(function(d) { return x(d.PC); })
            .y(function(d) { return y(d.Percent_data); });

        data.forEach(function (d) {
            d.Value = +d.Value;
            d.Percent_data = +d.Percent_data;
        });

        x.domain(data.map(function (d) {
            return d.PC;
        }));
        y.domain([0, d3.max(data, function (d) {
            return d.Percent_data;
        })]);

        svg.selectAll(".bar")
            .data(data)
            .enter()

            .append("rect")
            .attr("class", "bar")
            .on("mouseover", function(d, i) {
                tooltip
                    .style("left", d3.event.pageX-50 + "px")
                    .style("top", d3.event.pageY - 70 + "px")
                    .style("display", "inline-block")
                    .html(d.PC + "<br>" + "Percentage: " + (d.Value*100).toFixed(2) + "%");
                d3.select(this)
                    .style('opacity', '1.0')
                    .style('fill', function(d) {return colorPicker_mouseover(d.PC_T_F);}); })

            .on("mouseout", function() {
                tooltip
                    .style("display", "none");
                    d3.select(this)
                        .attr("x", function(d) { return x(d.PC)})
                        .attr("y", function(d) { return y(d.Value) })
                        .style("fill", function(d) {return colorPicker_bar(d.PC_T_F);})
                        .style('opacity', '1.0'); })


                .attr("x", function(d) { return x(d.PC); })
                .attr("y", function(d) { return y(d.Value); })
                .attr("width", x.bandwidth()-7)
                .attr("height", function(d) { return height - y(d.Value); })
                .style("fill", function(d) {return colorPicker_bar(d.PC_T_F);});

            svg.append("path")
                .data([data])
                .attr("class", "line")
                .attr("d", valueline);

            svg.selectAll(".dot")
                .data(data)
                .enter().append("circle")
                .attr("class", "dot")

                .attr("cx", function(d) { return x(d.PC) })
                .attr("cy", function(d) { return y(d.Percent_data) })
                .attr("r", 5)
                .style("fill", function(d) {return colorPicker_dot(d.PC_T_F);})
                .on("mouseover", function(d, i) {
                    tooltip
                        .style("left", d3.event.pageX - 50 + "px")
                        .style("top", d3.event.pageY - 70 + "px")
                        .style("display", "inline-block")
                    .html(d.PC + "<br>" + "Percentage: " + (d.Percent_data*100).toFixed(2) + "%");
                    d3.select(this)
                        .style("fill", function(d) {return colorPicker_mouseover(d.PC_T_F);})
                        .attr("r", 10) ; })

                .on("mouseout", function() {
                    tooltip
                        .style("display", "none");
                    d3.select(this)
                        .style("fill", function(d) {return colorPicker_dot(d.PC_T_F);})
                        .attr("r", 5); });


        svg.exit()
            .remove();

        
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        svg.append("text")
            .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top) + ")")
                .style("text-anchor", "middle")
                .style("font-size", "15px")
            .text("PC Number");

        
        svg.append("g")
            .call(d3.axisLeft(y));

        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left+50)
            .attr("x",0 - (height / 2))
            .attr("dy", "1em")
                .style("text-anchor", "middle")
                .style("font-size", "15px")
            .text("Explained Variance Ratio");

        svg.append("text")
            .attr("x", (width / 2))             
            .attr("y", 0 - (margin.top / 2))
            .attr("text-anchor", "middle")  
                .style("font-size", "25px") 
                .style("text-decoration", "underline")  
            .text(heading);

        var legend = svg.selectAll(".legend")
            .data(colors_screeplot)
            .enter()
            .append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
            .data(colors_screeplot)
            .attr("x", width - 18)
            .attr("y", 9)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", function(d) { return d; });

        legend.append("text")
            .data(dimensionality)
            .attr("x", width - 24)
            .attr("y", 18)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d; });
    });
}

function generate_2d_scatterplot(path, heading) {
    $.post(path, {'data': 'received'}, function(data_infunc) {
          data2 = JSON.parse(data_infunc.chart_data);
          console.log(data2);
          d3.select("svg").remove();

            var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1400 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

            var x = d3.scaleLinear()
                .range([0, width]);

            var y = d3.scaleLinear()
                .range([height, 0]);

            var color = d3.scaleOrdinal(d3.schemeCategory10);

            var xAxis = d3.axisBottom(x);

            var yAxis = d3.axisLeft(y);

            var svg = d3.select("body")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            data2.forEach(function(d) {
            d.PC1 = +d.PC1;
            d.PC2 = +d.PC2;
            });

            x.domain(d3.extent(data2, function(d) { return d.PC1; })).nice();
            y.domain(d3.extent(data2, function(d) { return d.PC2; })).nice();

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + y(0) + ")")
                .call(xAxis)

            svg.append("text")
                .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top + 15) + ")")
                    .style("text-anchor", "middle")
                    .style("font-size", "15px")
                .text("PC1");

            svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + x(0) + ",0)")
                .call(yAxis)

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x",0 - (height / 2))
                .attr("dy", "1em")
                    .style("text-anchor", "middle")
                    .style("font-size", "15px")
                .text("PC2");

            svg.selectAll(".dot")
                .data(data2).enter()
                .append("circle")
                    .attr("class", "dot")
                    .attr("r", 0)
                    .attr("cx", function(d) { return x(d.PC1); })
                    .attr("cy", function(d) { return y(d.PC2); })
                    .style("fill", function(d) { return color(d.Rank) })

                .on("mouseover", function(d, i) {
                    tooltip
                        .style("left", d3.event.pageX - 50 + "px")
                        .style("top", d3.event.pageY - 70 + "px")
                        .style("display", "inline-block")
                    .html("University Name: " + d.University + "<br>" + "Rank: " + d.Rank);
                    d3.select(this)
                        .attr("r", 10) ; })

                .on("mouseout", function() {
                    tooltip
                        .style("display", "none");
                    d3.select(this)
                        .attr("r", 4); })
                .transition()
                .duration(1000)
                    .attr("cx", function(d) { return x(d.PC1); })
                    .attr("cy", function(d) { return y(d.PC2); })
                    .attr("r", 4);

            svg.append("text")
                .attr("x", (width / 2))             
                .attr("y", 0 - (margin.top / 2))
                .attr("text-anchor", "middle")  
                    .style("font-size", "25px") 
                    .style("text-decoration", "underline")  
                .text(heading);

            var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter()
                    .append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                    .data(ranks)
                    .attr("x", width - 18)
                    .attr("width", 18)
                    .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                    .data(ranks)
                    .attr("x", width - 24)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                        .style("text-anchor", "end")
                    .text(function(d) { return d; });
        });
}

function generate_mds_scatterplot(path, heading) {
    $.post(path, {'data': 'received'}, function(data_infunc) {
          data2 = JSON.parse(data_infunc.chart_data);
          console.log(data2);
          d3.select("svg").remove();

            var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1400 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

            var x = d3.scaleLinear()
                .range([0, width]);

            var y = d3.scaleLinear()
                .range([height, 0]);

            var color = d3.scaleOrdinal(d3.schemeCategory10);

            var xAxis = d3.axisBottom(x);

            var yAxis = d3.axisLeft(y);

            var svg = d3.select("body")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            data2.forEach(function(d) {
            d.MDS1 = +d.MDS1;
            d.MDS2 = +d.MDS2;
            });

            x.domain(d3.extent(data2, function(d) { return d.MDS1; })).nice();
            y.domain(d3.extent(data2, function(d) { return d.MDS2; })).nice();

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + y(0) + ")")
                .call(xAxis);

            svg.append("text")
                .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top + 15) + ")")
                    .style("text-anchor", "middle")
                    .style("font-size", "15px")
                .text("MDS1");

            svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + x(0) + ",0)")
                .call(yAxis);

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x",0 - (height / 2))
                .attr("dy", "1em")
                    .style("text-anchor", "middle")
                    .style("font-size", "15px")
                .text("MDS2");

            svg.selectAll(".dot")
                .data(data2).enter()
                .append("circle")
                    .attr("class", "dot")
                    .attr("r", 0)
                    .attr("cx", function(d) { return x(d.MDS1); })
                    .attr("cy", function(d) { return y(d.MDS2); })
                    .style("fill", function(d) { return color(d.Rank) })

                .on("mouseover", function(d, i) {
                    tooltip
                        .style("left", d3.event.pageX - 50 + "px")
                        .style("top", d3.event.pageY - 70 + "px")
                        .style("display", "inline-block")
                    .html("University Name: " + d.University + "<br>" + "Rank: " + d.Rank);
                    d3.select(this)
                        .attr("r", 10) ; })

                .on("mouseout", function() {
                    tooltip
                        .style("display", "none");
                    d3.select(this)
                        .attr("r", 4); })
                .transition()
                .duration(1000)
                    .attr("cx", function(d) { return x(d.MDS1); })
                    .attr("cy", function(d) { return y(d.MDS2); })
                    .attr("r", 4);

            svg.append("text")
                .attr("x", (width / 2))             
                .attr("y", 0 - (margin.top / 2))
                .attr("text-anchor", "middle")  
                    .style("font-size", "25px") 
                    .style("text-decoration", "underline")  
                .text(heading);

            var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter()
                    .append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                    .data(ranks)
                    .attr("x", width - 18)
                    .attr("width", 18)
                    .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                    .data(ranks)
                    .attr("x", width - 24)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                        .style("text-anchor", "end")
                    .text(function(d) { return d; });
        });
}

function generate_scatter_matrix(path, heading) {

    $.post(path, {'data': 'received'}, function (data_infunc) {
        data = JSON.parse(data_infunc.chart_data);
        console.log(data);
        d3.select("svg").remove();

        var margin = {top: 20, right: 20, bottom: 60, left: 100},
            width = 750 - margin.left - margin.right,
            size = 300 - margin.top - margin.bottom;
            padding = 20;

        var x = d3.scaleLinear()
            .range([padding / 2, size - padding / 2]);

        var y = d3.scaleLinear()
            .range([size - padding / 2, padding / 2]);

        var xAxis = d3.axisBottom()
            .scale(x)
            .ticks(8);

        var yAxis = d3.axisLeft()
            .scale(y)
            .ticks(8);

        var color = d3.scaleOrdinal(d3.schemeCategory10);

        //obtaining unique column names
        var column_names = {},
            columns = d3.keys(data[0]).filter(function(d) { return (d !== "Country" && d!=='University' && d!=='Rank'); }),
            n = columns.length;

        //appending each column name to column_names
        columns.forEach(function(columns) {
        column_names[columns] = d3.extent(data, function(d) { return d[columns]; });
        });

        xAxis.tickSize(size * n);
        yAxis.tickSize(-size * n);

        //initialising brush
        var brush = d3.brush()
            .on("start", brushstart)
            .on("brush", brushmove)
            .on("end", brushend)
            .extent([[0,0],[size,size]]);

        //initialising SVG
        var svg = d3.select("body").append("svg")
            .attr("width", size * n + padding + 600)
            .attr("height", size * n + padding+40)
            .append("g")
            .attr("transform", "translate(" + 370 + "," + (padding+8) + ")");

        //appending x axis for each cell
        svg.selectAll(".x.axis")
            .data(columns)
            .enter().append("g")
                .attr("class", "axis_scatter_matrix")
                .attr("transform", function(d, i) { return "translate(" + (n - i - 1) * size + ",0)"; })
                .each(function(d) { x.domain(column_names[d]); d3.select(this).call(xAxis); })

        //values for x axis
        .selectAll("text")
            .attr("y", 330)
            .attr("x",-570)
            .attr("dy", ".70em")
            //since values were large and overlapping each other, rotating them by 60 degrees so they appear correctly
            .attr("transform", "rotate(-60)")
                .style("text-anchor", "end");

        //appending y axis
        svg.selectAll(".y.axis")
            .data(columns)
            .enter().append("g")
                .attr("class", "axis_scatter_matrix")
                .attr("transform", function(d, i) { return "translate(0," + i * size + ")"; })
                .each(function(d) { y.domain(column_names[d]); d3.select(this).call(yAxis); });

        //creating cells for scatter matrix
        var cell = svg.selectAll(".cell")
            .data(cross(columns, columns))
            .enter().append("g")
                .attr("class", "cell")
                .attr("transform", function(d) { return "translate(" + (n - d.i - 1) * size + "," + d.j * size + ")"; })
                .each(plot);

        // adding text and padding for each cell. Text contains the column name from the column_names set
        cell.filter(function(d) { return d.i === d.j; }).append("text")
            .attr("x", padding)
            .attr("y", padding)
            .attr("dy", ".71em")
            .text(function(d) { return d.x; });

        //calling the brushing tool
        cell.call(brush);

        //plotting each cell in scatter matrix
        function plot(p) {
            var cell = d3.select(this);

            //domain of x and y is the column [x] and column [y]
            x.domain(column_names[p.x]);
            y.domain(column_names[p.y]);

            //appending rect to cell in svg
            cell.append("rect")
                .attr("class", "frame")
                .attr("x", padding / 2)
                .attr("y", padding / 2)
                .attr("width", size - padding)
                .attr("height", size - padding);

            //appending scatterplot dots to the cell based on x and y values for that column
            cell.selectAll("circle")
                .data(data)
                .enter().append("circle")
                    .attr("cx", function(d) { return x(d[p.x]); })
                    .attr("cy", function(d) { return y(d[p.y]); })
                    .attr("r", 4)
                    .style("fill", function(d) { return color(d.Rank); });

            //appending legent to the scatter plot matrix
            var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter()
                    .append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                    .data(ranks)
                    .attr("x", 720)
                    .attr("width", 18)
                    .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                    .data(ranks)
                    .attr("x", 710)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                        .style("text-anchor", "end")
                    .text(function(d) { return d; });
                
                    svg.append("text")
                .attr("x", (width / 2))             
                .attr("y", 0 - (margin.top / 2))
                .attr("text-anchor", "middle")  
                    .style("font-size", "25px") 
                    .style("text-decoration", "underline")  
                .text(heading);
        }

        var brushCell;

        // Clearing all brush movements that made changes before
        function brushstart(p) {
            if (brushCell !== this) {
                d3.select(brushCell).call(brush.move, null);
                brushCell = this;
                x.domain(column_names[p.x]);
                y.domain(column_names[p.y]);
            }
        }

        // on moving the brush, we are selecting the portion the brush covered
        function brushmove(p) {

            //declaring selection of the brush
            var e = d3.brushSelection(this);

            //highlighting everything within the brushed area 
            svg.selectAll("circle").classed("hidden", function(d) {
            return !e ? false : (e[0][0] > x(+d[p.x]) || x(+d[p.x]) > e[1][0] || e[0][1] > y(+d[p.y]) || y(+d[p.y]) > e[1][1]);
            });
        }

        //on ending of brush activity (i.e. when we click on scatter matrix) making all hidden false
        function brushend() {
            var e = d3.brushSelection(this);
            if (e === null) svg.selectAll(".hidden").classed("hidden", false);
            }

        //creating an NxN matrix for the scatter matrix
        function cross(a, b) {
            var c = [], n = a.length, m = b.length, i, j;
            for (i = -1; ++i < n;) for (j = -1; ++j < m;) c.push({x: a[i], i: i, y: b[j], j: j});
            return c;
        }
    });
}

//initialising project with k-means elbow curve
create_elbow('elbow-k-means');

</script>

</body>
</html>
