<!DOCTYPE html>
<html lang="en">
<style>

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#Header {
  width: 100%;
  padding: 1px;
  text-align: center;
  font-family: Helvetica;
  background-color: #808080;
  color: #FFFAF0;
  border-radius: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.bar{
  fill:#87CEEB;
  margin-right: 2px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 30px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#slider_div {
  width: 100%;
  padding: 2px;
  text-align: center;
  margin-top: 2px;
  display: none;
}

#slider {
  width: 100%
}

.dot {
    stroke: #000;
}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis_scatter_matrix,
.frame {
  shape-rendering: crispEdges;
}

.axis_scatter_matrix line {
  stroke: #ddd;
}

.axis_scatter_matrix path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

</style>
<head>
    <title>Project 1</title>
</head>
<body>
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Task 1</a>
            <div class="dropdown-content">
                <a href="#" onclick="create_scree_plot('screeplot_full_data')">PCA for Complete Dataset</a>
                <a href="#" onclick="create_scree_plot('screeplot_random_sample_data')">PCA for Random Sample Dataset</a>
                <a href="#" onclick="create_scree_plot('screeplot_stratified_sample_data')">PCA for Random Stratified Dataset</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Task 2</a>
            <div class="dropdown-content">
                <a href="#" onclick="generate_2d_scatterplot('scatter_plot_full_data_pc_values')">Scatterplot Full Data</a>
                <a href="#" onclick="generate_2d_scatterplot('scatter_plot_random_sampled_data_pc_values')">Scatterplot Random Data</a>
                <a href="#" onclick="generate_2d_scatterplot('scatter_plot_stratified_sampled_data_pc_values')">Scatterplot Random Stratified Data</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Task 3</a>
            <div class="dropdown-content">
                <a href="#" onclick="generate_scatter_matrix('scatter_matrix_full_data')">Scatter Matrix Full Data</a>
                <a href="#" onclick="generate_scatter_matrix('scatter_matrix_random_sampled_data')">Scatter Matrix Random Sample Data</a>
                <a href="#" onclick="generate_scatter_matrix('scatter_matrix_stratified_sampled_data')">Scatter Matrix Stratified Sample Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_euclidean_full_data')">MDS Euclidean Full Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_euclidean_random_data')">MDS Euclidean Random Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_euclidean_stratified_data')">MDS Euclidean Stratified Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_correlation_full_data')">MDS Correlation Full Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_correlation_random_data')">MDS Correlation Random Data</a>
                <a href="#" onclick="generate_mds_scatterplot('mds_correlation_stratified_data')">MDS Correlation Stratified Data</a>
            </div>
        </li>
    </ul>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

var tooltip = d3.select("body").append("div").attr("class", "toolTip");
var ranks = ['0 to 100', '100 to 200', '200 to 300', '> 300'];
var dimensionality = ['Intrinsic Dimensionality'];
var colors_1 = ['Red'];


function colorPicker_mouseover(v) {
    if (v === "True") {
        return "#FFD700";
    }
    else {
        return "#000080";
    }
}

function colorPicker_dot(v) {
    if (v === "True") {
        return "red";
    }
    else {
        return "white";
    }
}

function colorPicker_bar(v) {
    if (v === "True") {
        return "red";
    }
    else {
        return "#87CEEB";
    }
}

function create_scree_plot(path)
{
    $.post(path, {'data': 'received'}, function (data_infunc) {
        data = JSON.parse(data_infunc.chart_data);
        console.log(data);
        d3.select("svg").remove();

        var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1400 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

        var x = d3.scaleBand()
            .range([0, width]);
        var y = d3.scaleLinear()
            .range([height, 0]);

        var svg = d3.select("body")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        var valueline = d3.line()
            .x(function(d) { return x(d.PC); })
            .y(function(d) { return y(d.Percent_data); });

        data.forEach(function (d) {
            d.Value = +d.Value;
            d.Percent_data = +d.Percent_data;
        });

        // Scale the range of the data in the domains
        x.domain(data.map(function (d) {
            return d.PC;
        }));
        y.domain([0, d3.max(data, function (d) {
            return d.Percent_data;
        })]);

        // append the rectangles for the bar chart
        svg.selectAll(".bar")
            .data(data)
            .enter()

            .append("rect")
            .attr("class", "bar")
            .on("mouseover", function(d, i) {
                tooltip
                    .style("left", d3.event.pageX-50 + "px")
                    .style("top", d3.event.pageY - 70 + "px")
                    .style("display", "inline-block")
                    .html(d.PC + "<br>" + "Percentage: " + (d.Value*100).toFixed(2) + "%");
                d3.select(this)
                    .style('opacity', '1.0')
                    .style('fill', function(d) {return colorPicker_mouseover(d.PC_T_F);}); })

            .on("mouseout", function() {
                tooltip
                    .style("display", "none");
                    d3.select(this)
                        .attr("x", function(d) { return x(d.PC)})
                        .attr("y", function(d) { return y(d.Value) })
                        .style("fill", function(d) {return colorPicker_bar(d.PC_T_F);})
                        .style('opacity', '1.0'); })


                .attr("x", function(d) { return x(d.PC); })
                .attr("y", function(d) { return y(d.Value); })
                .attr("width", x.bandwidth()-7)
                .attr("height", function(d) { return height - y(d.Value); })
                .style("fill", function(d) {return colorPicker_bar(d.PC_T_F);});

            svg.append("path")
                .data([data])
                .attr("class", "line")
                .attr("d", valueline);

            svg.selectAll(".dot")
                .data(data)
                .enter().append("circle") // Uses the enter().append() method
                .attr("class", "dot") // Assign a class for styling

                .attr("cx", function(d) { return x(d.PC) })
                .attr("cy", function(d) { return y(d.Percent_data) })
                .attr("r", 5)
                .style("fill", function(d) {return colorPicker_dot(d.PC_T_F);})
                .on("mouseover", function(d, i) {
                    tooltip
                        .style("left", d3.event.pageX - 50 + "px")
                        .style("top", d3.event.pageY - 70 + "px")
                        .style("display", "inline-block")
                    .html(d.PC + "<br>" + "Percentage: " + (d.Percent_data*100).toFixed(2) + "%");
                    d3.select(this)
                        .style("fill", function(d) {return colorPicker_mouseover(d.PC_T_F);})
                        .attr("r", 10) ; })

                .on("mouseout", function() {
                    tooltip
                        .style("display", "none");
                    d3.select(this)
                        .style("fill", function(d) {return colorPicker_dot(d.PC_T_F);})
                        .attr("r", 5); });


        svg.exit()
            .remove();

        // add the x Axis
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        svg.append("text")
            .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top) + ")")
                .style("text-anchor", "middle")
            .text("PC Number");

        // add the y Axis
        svg.append("g")
            .call(d3.axisLeft(y));

        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0 - margin.left+50)
            .attr("x",0 - (height / 2))
            .attr("dy", "1em")
                .style("text-anchor", "middle")
            .text("Explained Variance Ratio");

        var legend = svg.selectAll(".legend")
            .data(colors_1)
            .enter()
            .append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        legend.append("rect")
            .data(colors_1)
            .attr("x", width - 18)
            .attr("y", 9)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", function(d) { return d; });

        legend.append("text")
            .data(dimensionality)
            .attr("x", width - 24)
            .attr("y", 18)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d; });
    });
}


create_scree_plot('screeplot_full_data');

function generate_2d_scatterplot(path) {
    $.post(path, {'data': 'received'}, function(data_infunc) {
          data2 = JSON.parse(data_infunc.chart_data);
          console.log(data2);
          d3.select("svg").remove();

            var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1400 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

            var x = d3.scaleLinear()
                .range([0, width]);

            var y = d3.scaleLinear()
                .range([height, 0]);

            var color = d3.scaleOrdinal(d3.schemeCategory10);

            var xAxis = d3.axisBottom(x);

            var yAxis = d3.axisLeft(y);

            var svg = d3.select("body")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            data2.forEach(function(d) {
            d.PC1 = +d.PC1;
            d.PC2 = +d.PC2;
            });

            x.domain(d3.extent(data2, function(d) { return d.PC1; })).nice();
            y.domain(d3.extent(data2, function(d) { return d.PC2; })).nice();

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + y(0) + ")")
                .call(xAxis)

            svg.append("text")
                .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top + 15) + ")")
                    .style("text-anchor", "middle")
                .text("PC1");

            svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + x(0) + ",0)")
                .call(yAxis)

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x",0 - (height / 2))
                .attr("dy", "1em")
                    .style("text-anchor", "middle")
                .text("PC2");

            svg.selectAll(".dot")
                .data(data2).enter()
                .append("circle")
                    .attr("class", "dot")
                    .attr("r", 0)
                    .attr("cx", function(d) { return x(d.PC1); })
                    .attr("cy", function(d) { return y(d.PC2); })
                    .style("fill", function(d) { return color(d.Rank) })

                .on("mouseover", function(d, i) {
                    tooltip
                        .style("left", d3.event.pageX - 50 + "px")
                        .style("top", d3.event.pageY - 70 + "px")
                        .style("display", "inline-block")
                    .html("University Name: " + d.University + "<br>" + "Rank: " + d.Rank);
                    d3.select(this)
                        .attr("r", 10) ; })

                .on("mouseout", function() {
                    tooltip
                        .style("display", "none");
                    d3.select(this)
                        .attr("r", 4); })
                .transition()
                .duration(1000)
                    .attr("cx", function(d) { return x(d.PC1); })
                    .attr("cy", function(d) { return y(d.PC2); })
                    .attr("r", 4);

            var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter()
                    .append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                    .data(ranks)
                    .attr("x", width - 18)
                    .attr("width", 18)
                    .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                    .data(ranks)
                    .attr("x", width - 24)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                        .style("text-anchor", "end")
                    .text(function(d) { return d; });
        });
}

function generate_mds_scatterplot(path) {
    $.post(path, {'data': 'received'}, function(data_infunc) {
          data2 = JSON.parse(data_infunc.chart_data);
          console.log(data2);
          d3.select("svg").remove();

            var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1400 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

            var x = d3.scaleLinear()
                .range([0, width]);

            var y = d3.scaleLinear()
                .range([height, 0]);

            var color = d3.scaleOrdinal(d3.schemeCategory10);

            var xAxis = d3.axisBottom(x);

            var yAxis = d3.axisLeft(y);

            var svg = d3.select("body")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            data2.forEach(function(d) {
            d.MDS1 = +d.MDS1;
            d.MDS2 = +d.MDS2;
            });

            x.domain(d3.extent(data2, function(d) { return d.MDS1; })).nice();
            y.domain(d3.extent(data2, function(d) { return d.MDS2; })).nice();

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + y(0) + ")")
                .call(xAxis);

            svg.append("text")
                .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top + 15) + ")")
                    .style("text-anchor", "middle")
                .text("MDS1");

            svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + x(0) + ",0)")
                .call(yAxis);

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x",0 - (height / 2))
                .attr("dy", "1em")
                    .style("text-anchor", "middle")
                .text("MDS2");

            svg.selectAll(".dot")
                .data(data2).enter()
                .append("circle")
                    .attr("class", "dot")
                    .attr("r", 0)
                    .attr("cx", function(d) { return x(d.MDS1); })
                    .attr("cy", function(d) { return y(d.MDS2); })
                    .style("fill", function(d) { return color(d.Rank) })

                .on("mouseover", function(d, i) {
                    tooltip
                        .style("left", d3.event.pageX - 50 + "px")
                        .style("top", d3.event.pageY - 70 + "px")
                        .style("display", "inline-block")
                    .html("University Name: " + d.University + "<br>" + "Rank: " + d.Rank);
                    d3.select(this)
                        .attr("r", 10) ; })

                .on("mouseout", function() {
                    tooltip
                        .style("display", "none");
                    d3.select(this)
                        .attr("r", 4); })
                .transition()
                .duration(1000)
                    .attr("cx", function(d) { return x(d.MDS1); })
                    .attr("cy", function(d) { return y(d.MDS2); })
                    .attr("r", 4);

            var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter()
                    .append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                    .data(ranks)
                    .attr("x", width - 18)
                    .attr("width", 18)
                    .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                    .data(ranks)
                    .attr("x", width - 24)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                        .style("text-anchor", "end")
                    .text(function(d) { return d; });
        });
}

function generate_scatter_matrix(path) {
    let attr = new Set();
    $.post(path, {'data': 'received'}, function (data_infunc) {
        data = JSON.parse(data_infunc.chart_data);
        console.log(data);
        d3.select("svg").remove();

        var margin = {top: 40, right: 20, bottom: 60, left: 100},
            width = 1000 - margin.left - margin.right,
            size = 320 - margin.top - margin.bottom;
            padding = 20;

        var x = d3.scaleLinear()
            .range([padding / 2, size - padding / 2]);

        var y = d3.scaleLinear()
            .range([size - padding / 2, padding / 2]);

        var xAxis = d3.axisBottom()
            .scale(x)
            .ticks(6);

        var yAxis = d3.axisLeft()
            .scale(y)
            .ticks(6);

        var color = d3.scaleOrdinal(d3.schemeCategory10);

        var domainByTrait = {},
            traits = d3.keys(data[0]).filter(function(d) { return (d !== "Country" && d!=='University' && d!=='Rank'); }),
            n = traits.length;

        traits.forEach(function(trait) {
        domainByTrait[trait] = d3.extent(data, function(d) { return d[trait]; });
        });

        xAxis.tickSize(size * n);
        yAxis.tickSize(-size * n);

        var brush = d3.brush()
            .on("start", brushstart)
            .on("brush", brushmove)
            .on("end", brushend)
            .extent([[0,0],[size,size]]);

        var svg = d3.select("body").append("svg")
            .attr("width", size * n + padding + 600)
            .attr("height", size * n + padding+400)
            .append("g")
            .attr("transform", "translate(" + 370 + "," + (padding/ 2) + ")");

        svg.selectAll(".x.axis")
            .data(traits)
            .enter().append("g")
                .attr("class", "axis_scatter_matrix")
                .attr("transform", function(d, i) { return "translate(" + (n - i - 1) * size + ",0)"; })
                .each(function(d) { x.domain(domainByTrait[d]); d3.select(this).call(xAxis); })

        .selectAll("text")
            .attr("y", 330)
            .attr("x",-570)
            .attr("dy", ".70em")
            .attr("transform", "rotate(-60)")
                .style("text-anchor", "end");

        svg.selectAll(".y.axis")
            .data(traits)
            .enter().append("g")
                .attr("class", "axis_scatter_matrix")
                .attr("transform", function(d, i) { return "translate(0," + i * size + ")"; })
                .each(function(d) { y.domain(domainByTrait[d]); d3.select(this).call(yAxis); });

        var cell = svg.selectAll(".cell")
            .data(cross(traits, traits))
            .enter().append("g")
                .attr("class", "cell")
                .attr("transform", function(d) { return "translate(" + (n - d.i - 1) * size + "," + d.j * size + ")"; })
                .each(plot);

        cell.filter(function(d) { return d.i === d.j; }).append("text")
            .attr("x", padding)
            .attr("y", padding)
            .attr("dy", ".71em")
            .text(function(d) { return d.x; });

        cell.call(brush);

        function plot(p) {
            var cell = d3.select(this);

            x.domain(domainByTrait[p.x]);
            y.domain(domainByTrait[p.y]);

            cell.append("rect")
                .attr("class", "frame")
                .attr("x", padding / 2)
                .attr("y", padding / 2)
                .attr("width", size - padding)
                .attr("height", size - padding);

            cell.selectAll("circle")
                .data(data)
                .enter().append("circle")
                    .attr("cx", function(d) { return x(d[p.x]); })
                    .attr("cy", function(d) { return y(d[p.y]); })
                    .attr("r", 4)
                    .style("fill", function(d) { return color(d.Rank); });

            var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter()
                    .append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                    .data(ranks)
                    .attr("x", 720)
                    .attr("width", 18)
                    .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                    .data(ranks)
                    .attr("x", 710)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                        .style("text-anchor", "end")
                    .text(function(d) { return d; });
        }

        var brushCell;

        // Clear the previously-active brush, if any.
        function brushstart(p) {
            if (brushCell !== this) {
                d3.select(brushCell).call(brush.move, null);
                brushCell = this;
                x.domain(domainByTrait[p.x]);
                y.domain(domainByTrait[p.y]);
            }
        }

        function brushmove(p) {
            var e = d3.brushSelection(this);
            svg.selectAll("circle").classed("hidden", function(d) {
            return !e ? false : (e[0][0] > x(+d[p.x]) || x(+d[p.x]) > e[1][0] || e[0][1] > y(+d[p.y]) || y(+d[p.y]) > e[1][1]);
            });
        }

        // If the brush is empty, select all circles.
        function brushend() {
            var e = d3.brushSelection(this);
            if (e === null) svg.selectAll(".hidden").classed("hidden", false);
            }

        function cross(a, b) {
            var c = [], n = a.length, m = b.length, i, j;
            for (i = -1; ++i < n;) for (j = -1; ++j < m;) c.push({x: a[i], i: i, y: b[j], j: j});
            return c;
        }
    });
}
</script>

</body>
</html>